
    <!-- Meta -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <block name='seo'></block>
    
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- CSS Global Compulsory -->
    <link href="__STATIC__/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/css/style.css" rel="stylesheet">
    <block name='extra'></block>
    <!-- CSS Implementing Plugins -->
    <link href="__STATIC__/assets/plugins/line-icons/line-icons.css" rel="stylesheet">
    <link href="__STATIC__/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/assets/plugins/flexslider/flexslider.css" rel="stylesheet">     
    <link href="__STATIC__/assets/plugins/layer-slider/layerslider/css/layerslider.css" rel="stylesheet">

    <!-- CSS Theme -->    
    <link id="style_color" href="__STATIC__/assets/css/themes/default.css" rel="stylesheet">

    <!-- CSS Customization -->
    <link href="__STATIC__/assets/css/custom.css" rel="stylesheet">
<link type="text/css" href="__STATIC__/assets/plugins/layer-slider/layerslider/skins/fullwidth/skin.css" rel="stylesheet">


<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
