<!DOCTYPE HTML>
<html lang='zh'>
<head>
	<block name="head"><include file="Public/head"/></block>
</head>
<body class="boxed-layout container header-fixed">
	<div class="wrapper">
	<!-- 头部 -->
	<block name="header"><include file="Public/header"/></block>
	<!-- /头部 -->
    
	<!-- 幻灯片 -->
	<block name="slider"><include file="Public/slider"/></block>
	<!-- /幻灯片 -->    
	
	<!-- 面包屑导航 -->
	<block name="breadcrumbs"></block>
	<!-- /面包屑导航 -->
	
	<!-- 主体 -->
	<block name="body"></block>
	<!-- /主体 -->

	<!-- 底部 -->
	<block name="footer"><include file="Public/footer"/></block>
	<!-- /底部 -->
	</div>
	<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F18ae5ed78d2980ce97438720fd1ab187' type='text/javascript'%3E%3C/script%3E"));
</script>

</body>
</html>
